{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>update</title>
    
</head>
<body>
    {% block content %}
    <h1>hello</h1>
    <form method="POST" name="frm">
        {% csrf_token%}
    <center>
        <div class="form-group">
            <label for="">EID</label>
            <input type="text" value="{{em.eid}}" name="eid">
            
        </div>
        <div class="form-group">
            <label for="">EName</label>
            <input type="text" value="{{em.ename}}" name="ename">
        </div>
        <div class="form-group">
            <label for="">Ephn</label>
            <input type="text" value="{{em.ephn}}" name="ephn">
        </div>
        <div class="form-group">
            <label for="">Esalary</label>
            <input type="text" value="{{em.esalary}}" name="esalary">
        </div>
        <button class="" type="submit">submit</button></center>
    </form>
    {% endblock %}
</body>
</html>
